.pokemon-detail-name{
    font-size: xx-large;
    color: black;
    margin-top: 1rem;
}

.pokemon-detail-name > span{
    letter-spacing: 0.5rem;
}

.pokemon-detail-type{
    display: flex;
    margin-top: 2rem;
    gap: 3rem;
    font-size: large;
}

.pokemon-detail-type div{
    border: 1px solid gainsboro;
    border-radius: 15px;
    padding: 1rem;
    background-color: gainsboro;
}

.pokemon-detail-image{
    margin-top: 2rem;
    max-height: 200px;
}

.pokemon-details-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}